# 4.10 Part I Task #7-10

This script contains the following points:

1. Aggregate the max, mean, and min variables on a customer-profile level for usage frequency and expenditure.
2. Compare customer profiles with regions and departments

In [5]:
#Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [6]:
#import dataframe
path = r'C:\Users\Barb\07-2024 Instacart Basket Analysis'

In [7]:
orders_products_dept = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared', 'orders_products_high_dept410b+.pkl'))

In [79]:
#check output

In [9]:
orders_products_dept.shape

(29303281, 38)

In [10]:
orders_products_dept.head()

,user_id,first_name,last_name,gender,state,age,date_joined,number_of_dependents,marriage_status,income,...,avg_spent,spending_flag,buy_frequency,frequency_flag,region,customer_activity_flag,age_group,income_class,dependents_flag,department
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,8.205882,Low spender,19.823529,Regular customer,Midwest,high_activity,middle-aged_adult,upper_class,large_family,dairy eggs
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,8.205882,Low spender,19.823529,Regular customer,Midwest,high_activity,middle-aged_adult,upper_class,large_family,dairy eggs
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,8.205882,Low spender,19.823529,Regular customer,Midwest,high_activity,middle-aged_adult,upper_class,large_family,produce
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,8.205882,Low spender,19.823529,Regular customer,Midwest,high_activity,middle-aged_adult,upper_class,large_family,produce
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,8.205882,Low spender,19.823529,Regular customer,Midwest,high_activity,middle-aged_adult,upper_class,large_family,dairy eggs

### Task #7 - Aggregate the max, mean and min variables on a customer-profile level for usage frequency and expenditure.

Usage frequency is analyzed based on days_since_prior order & expenditure based on prices columns. For accuracy, aggregate the data from the orders_products_high DataFrame so that each row represents a single order.

#### 7.1 Aggregation - by age_group

In [14]:
# Creating aggregation by age_group for days_since_prior_order & prices
age_group_agg = orders_products_dept.groupby('age_group').agg({'days_since_prior_order': ['mean', 'max', 'min'], 'prices':['mean', 'max', 'min']})

In [15]:
print(age_group_agg)

                  days_since_prior_order               prices
                                    mean   max  min      mean   max  min
age_group
middle-aged_adult              10.810764  30.0  0.0  7.790908  25.0  1.0
senior                         10.791879  30.0  0.0  7.796908  25.0  1.0
young_adult                    10.838774  30.0  0.0  7.782629  25.0  1.0

#### 7.2 Aggregation - by income_class

In [17]:
# Creating aggregation by income_class for days_since_prior_order & prices
income_class_agg = orders_products_dept.groupby('income_class').agg({'days_since_prior_order': ['mean', 'max', 'min'], 'prices':['mean', 'max', 'min']})

In [18]:
print(income_class_agg)

             days_since_prior_order               prices
                               mean   max  min      mean   max  min
income_class
lower_class               11.175808  30.0  0.0  6.706619  25.0  1.0
middle_class              10.762110  30.0  0.0  7.890089  25.0  1.0
upper_class               10.769663  30.0  0.0  7.953395  25.0  1.0

#### 7.3 Aggregation - by dependents_flag

In [20]:
# Creating aggregation by dependents_flag for days_since_prior_order & prices
dependents_flag_agg = orders_products_dept.groupby('dependents_flag').agg({'days_since_prior_order': ['mean', 'max', 'min'], 'prices':['mean', 'max', 'min']})

In [21]:
print(dependents_flag_agg)

                days_since_prior_order               prices
                                  mean   max  min      mean   max  min
dependents_flag
large_family                 10.816223  30.0  0.0  7.793450  25.0  1.0
no_dependents                10.791951  30.0  0.0  7.790889  25.0  1.0
small_family                 10.816513  30.0  0.0  7.790187  25.0  1.0

#### 7.4 Aggregation - by departments

In [23]:
# Creating aggregation by departments for days_since_prior_order & prices
department_agg = orders_products_dept.groupby('income_class').agg({'days_since_prior_order': ['mean', 'max', 'min'], 'prices':['mean', 'max', 'min']})

In [24]:
print(department_agg)

             days_since_prior_order               prices
                               mean   max  min      mean   max  min
income_class
lower_class               11.175808  30.0  0.0  6.706619  25.0  1.0
middle_class              10.762110  30.0  0.0  7.890089  25.0  1.0
upper_class               10.769663  30.0  0.0  7.953395  25.0  1.0

### Task #8 Compare your customer profiles with regions and departments. Can you identify a link between them?
### Customers may demonstrate different behaviors across regions, which could make this information important.

#### 8.1A Crosstab between age_group and region

In [27]:
# Creating crosstab to compare age_group profile with region locations
age_group_region_crosstab=pd.crosstab(orders_products_dept['age_group'], orders_products_dept['region'],dropna=False)

In [28]:
print(age_group_region_crosstab)

region             Midwest  Northeast    South     West
age_group
middle-aged_adult  3258736    2407864  4563500  3538937
senior             2227640    1712532  3180421  2447871
young_adult        1382043    1052465  2012952  1518320

#### 8.1B Crosstab between age_group and department

In [30]:
# Creating crosstab to compare age_group profile with departments
age_group_dept_crosstab=pd.crosstab(orders_products_dept['age_group'], orders_products_dept['department'],dropna=False)

In [31]:
print(age_group_dept_crosstab)

department         alcohol  babies  bakery  beverages  breakfast   bulk  \
age_group
middle-aged_adult    63951  184638  499073    1144518     298184  14903
senior               42583  126916  346153     800798     205176  10465
young_adult          28333   80153  215386     492270     130109   6630

department         canned goods  dairy eggs    deli  dry goods pasta  ...  \
age_group                                                             ...
middle-aged_adult        447503     2307808  444763           362824  ...
senior                   310393     1599842  310651           251961  ...
young_adult              196553     1001703  192139           159208  ...

department         household  international  meat seafood  missing  other  \
age_group
middle-aged_adult     308807         113653        297905    29755  15061
senior                216533          77629        210054    20243  10502
young_adult           133635          49587        129317    13391   7009

department         pantry  personal care   pets  produce   snacks
age_group
middle-aged_adult  791366         188740  40359  4048857  1231935
senior             548691         129312  29001  2812143   852982
young_adult        341334          81687  18445  1747701   535616

[3 rows x 21 columns]

#### 8.2A Crosstab between income_class and region

In [33]:
# Creating crosstab to compare income_class profile with region locations
income_class_region_crosstab=pd.crosstab(orders_products_dept['income_class'], orders_products_dept['region'],dropna=False)

In [34]:
print(income_class_region_crosstab)

region        Midwest  Northeast    South     West
income_class
lower_class    738407     553112  1077191   799171
middle_class  2911000    2237000  4266819  3269711
upper_class   3219012    2382749  4412863  3436246

#### 8.2B Crosstab between income_class and departments

In [36]:
# Creating crosstab to compare income_class profile with departments
income_class_dept_crosstab=pd.crosstab(orders_products_dept['income_class'], orders_products_dept['department'],dropna=False)

In [37]:
print(income_class_dept_crosstab)

department    alcohol  babies  bakery  beverages  breakfast   bulk  \
income_class
lower_class     16535   27761  100470     362278      86246   4470
middle_class    53512  176253  460532    1006944     266220  13904
upper_class     64820  187693  499610    1068364     281003  13624

department    canned goods  dairy eggs    deli  dry goods pasta  ...  \
income_class                                                     ...
lower_class          73729      474043  100049            60011  ...
middle_class        422778     2153276  411012           343999  ...
upper_class         457942     2282034  436492           369983  ...

department    household  international  meat seafood  missing  other  pantry  \
income_class
lower_class       81790          20245         32086     6387   3654  155589
middle_class     275865         107589        288112    28182  14003  733037
upper_class      301320         113035        317078    28820  14915  792765

department    personal care   pets  produce   snacks
income_class
lower_class           44794   8071   779593   529168
middle_class         172739  37031  3810729  1044402
upper_class          182206  42703  4018379  1046963

[3 rows x 21 columns]

#### 8.3A Crosstab between dependents_flag and region

In [39]:
# Creating crosstab to compare dependents_flag profile with region locations
dependents_flag_region_crosstab=pd.crosstab(orders_products_dept['dependents_flag'], orders_products_dept['region'],dropna=False)

In [40]:
print(dependents_flag_region_crosstab)

region           Midwest  Northeast    South     West
dependents_flag
large_family     1689721    1308364  2447460  1911898
no_dependents    1725219    1280745  2442952  1875971
small_family     3453479    2583752  4866461  3717259

#### 8.3B Crosstab between dependents_flag and departments

In [42]:
dependents_flag_dept_crosstab=pd.crosstab(orders_products_dept['dependents_flag'], orders_products_dept['department'],dropna=False)

In [43]:
print(dependents_flag_dept_crosstab)

department       alcohol  babies  bakery  beverages  breakfast   bulk  \
dependents_flag
large_family       34847   98013  265040     607378     158087   8040
no_dependents      34483   98488  266175     611944     157152   7635
small_family       65537  195206  529397    1218264     318230  16323

department       canned goods  dairy eggs    deli  dry goods pasta  ...  \
dependents_flag                                                     ...
large_family           240579     1229510  238496           196342  ...
no_dependents          236880     1227375  239366           192373  ...
small_family           476990     2452468  469691           385278  ...

department       household  international  meat seafood  missing  other  \
dependents_flag
large_family        165779          59697        162105    16096   7921
no_dependents       161446          60671        156524    15601   8254
small_family        331750         120501        318647    31692  16397

department       pantry  personal care   pets  produce   snacks
dependents_flag
large_family     421154         100257  21863  2169745   655471
no_dependents    418653         100047  22254  2157789   653833
small_family     841584         199435  43688  4281167  1311229

[3 rows x 21 columns]

### Task #9 Export your charts

#### See notebooks 4-10b and 4-10b-Dept

### Task #10 Export your final data set

In [47]:
# Check shape before exporting
orders_products_dept.shape

(29303281, 38)

In [48]:
#Export the updated dataframe as a pickle file
orders_products_dept.to_pickle(os.path.join(path, '02 Data', 'Prepared', 'orders_products_final.pkl'))