# 4.10 Part I Task #1-4

This script contains the following points:
1. Import data and libraries
2. Address any PII data
3. Compare customers' spending habits in different regions of the US
4. Create exclusion flag for low-activity customers

### Task #1 - Import data and libraries

In [4]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [5]:
     #Import dataframe
path = r'C:\Users\Barb\07-2024 Instacart Basket Analysis'

In [6]:
orders_products_all = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared', 'ords_prods_all.pkl'))

#### Check output

In [8]:
orders_products_all.shape

(30328763, 33)

In [9]:
orders_products_all.head()

,user_id,first_name,last_name,gender,state,age,date_joined,number_of_dependents,marriage_status,income,...,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spent,spending_flag,buy_frequency,frequency_flag,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy,Average Orders,8,New customer,8.205882,Low spender,19.823529,Regular customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Slowest days,Most Orders,8,New customer,8.205882,Low spender,19.823529,Regular customer,both
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Slowest days,Most Orders,8,New customer,8.205882,Low spender,19.823529,Regular customer,both
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Slowest days,Most Orders,8,New customer,8.205882,Low spender,19.823529,Regular customer,both
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Average Orders,8,New customer,8.205882,Low spender,19.823529,Regular customer,both

### Task #2 - Address any PII data

In [11]:
orders_products_all.columns

Index(['user_id', 'first_name', 'last_name', 'gender', 'state', 'age',
       'date_joined', 'number_of_dependents', 'marriage_status', 'income',
       'order_id', 'order_number', 'orders_day_of_week', 'hour_time_of_order',
       'days_since_prior_order', 'product_id', 'add_to_cart_order',
       'reordered', 'product_name', 'aisle_id', 'department_id', 'prices',
       'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'avg_spent',
       'spending_flag', 'buy_frequency', 'frequency_flag', '_merge'],
      dtype='object')

In [12]:
      #drop 'first_name' and 'last_name' columns

In [13]:
orders_products_all.drop(columns = ['first_name', 'last_name'])

,user_id,gender,state,age,date_joined,number_of_dependents,marriage_status,income,order_id,order_number,...,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spent,spending_flag,buy_frequency,frequency_flag,_merge
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,423547,2,...,Regularly busy,Regularly busy,Average Orders,8,New customer,8.205882,Low spender,19.823529,Regular customer,both
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,2524893,3,...,Regularly busy,Slowest days,Most Orders,8,New customer,8.205882,Low spender,19.823529,Regular customer,both
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,2524893,3,...,Regularly busy,Slowest days,Most Orders,8,New customer,8.205882,Low spender,19.823529,Regular customer,both
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,2524893,3,...,Regularly busy,Slowest days,Most Orders,8,New customer,8.205882,Low spender,19.823529,Regular customer,both
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,2984525,4,...,Regularly busy,Busiest days,Average Orders,8,New customer,8.205882,Low spender,19.823529,Regular customer,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30328758,80148,Female,New York,55,4/1/2020,1,married,57095,2859858,3,...,Regularly busy,Regularly busy,Most Orders,4,New customer,4.078571,Low spender,11.071429,Regular customer,both
30328759,80148,Female,New York,55,4/1/2020,1,married,57095,2859858,3,...,Regularly busy,Regularly busy,Most Orders,4,New customer,4.078571,Low spender,11.071429,Regular customer,both
30328760,80148,Female,New York,55,4/1/2020,1,married,57095,2859858,3,...,Regularly busy,Regularly busy,Most Orders,4,New customer,4.078571,Low spender,11.071429,Regular customer,both
30328761,80148,Female,New York,55,4/1/2020,1,married,57095,3209855,4,...,Regularly busy,Regularly busy,Average Orders,4,New customer,4.078571,Low spender,11.071429,Regular customer,both
30328762,80148,Female,New York,55,4/1/2020,1,married,57095,3209855,4,...,Regularly busy,Regularly busy,Average Orders,4,New customer,4.078571,Low spender,11.071429,Regular customer,both

### Task #3 - Compare customers' spending habits in different regions of the US

#### 3.1 Create a 'region' column

3.1.1 Define a 'region'

In [17]:
northeast_states = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'New Jersey', 'New York', 'Pennsylvania', 'Rhode Island', 'Vermont' ]

In [18]:
midwest_states = ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']

In [19]:
south_states = ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']

In [20]:
west_states = ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']

3.1.2 Create column 'result' to put results of for-loop

In [22]:
result = []

In [23]:
for value in orders_products_all['state']: 
    if value in northeast_states:
        result.append('Northeast')
    elif value in midwest_states:
        result.append('Midwest')
    elif value in south_states:
        result.append('South')
    elif value in west_states:
        result.append('West')
    else:
       result.append('No region assigned')

3.1.3 Create new column 'region' and assign result list to it

In [25]:
orders_products_all['region'] = result

In [26]:
      #check frequency count of 4 regions

In [27]:
orders_products_all['region'].value_counts()

region
South        10099817
West          7765088
Midwest       7107586
Northeast     5356272
Name: count, dtype: int64

In [28]:
### Find difference in spending habits between different US regions

In [29]:
      #Create a crosstab between the 'region' column and 'spending_column' to view table

In [30]:
crosstab = pd.crosstab(orders_products_all['region'], orders_products_all['spending_flag'], dropna = False)

In [31]:
      #Print crosstab table

In [32]:
print(crosstab)

spending_flag  High spender  Low spender
region
Midwest               29975      7077611
Northeast             19217      5337055
South                 40593     10059224
West                  31312      7733776

### Task #4 Create new dataframe that excludes low-activity customers

#### 4.1 Create exclusion flag for customers with less than 5 orders

In [35]:
         #create column 'result' to put results of for-loop

In [36]:
result = []

In [37]:
for value in orders_products_all['max_order']: 
    if value < 5:
        result.append('low_activity')
    else:
       result.append('high_activity')

In [38]:
    #create new column 'customer_activity_flag'

In [39]:
orders_products_all['customer_activity_flag'] = result

In [40]:
     #check frequency count of 4 regions

In [41]:
orders_products_all['customer_activity_flag'].value_counts()

customer_activity_flag
high_activity    29303281
low_activity      1025482
Name: count, dtype: int64

#### 4.2 Create df without 'low-activity' rows

In [43]:
orders_products_high = orders_products_all[orders_products_all['customer_activity_flag'] == 'high_activity']

In [44]:
     #Check rows in new df orders_products_high
     #Rows should equal high_activity frequency count

In [45]:
orders_products_high.shape

(29303281, 35)

#### 4.3 Export new df  orders_products_high

In [47]:
#Export the updated dataframe as a pickle file
orders_products_high.to_pickle(os.path.join(path, '02 Data', 'Prepared', 'orders_products_high410a.pkl'))