# Exercise & Task 4.6a: Combining & Exporting Data (Steps 1 & 2)

### This script answers questions 1 & 2 of task 4.6

# 1. Importing libraries

In [4]:
#Import libraries
import pandas as pd
import numpy as np
import os

# 2. Importing Data

In [6]:
path = r'C:\Users\Barb\07-2024 Instacart Basket Analysis'

In [7]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original', 'orders_products_prior.csv'), index_col = False)

In [8]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared', 'orders_consistency.csv'), index_col = False)

# 3. Check output of dataframes

In [10]:
df_ords_prior.head()     #new dataframe

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
df_ords_prior.shape

(32434489, 4)

In [12]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_time_of_order,days_since_prior_order
0,1,2398795,1,2,3,7,15.0
1,2,473747,1,3,3,12,21.0
2,3,2254736,1,4,4,7,29.0
3,4,431534,1,5,4,15,28.0
4,5,3367565,1,6,2,7,19.0

In [13]:
# I just deleted 'Unnamed: 0' column in exercise 4.5. Why has the column returned?

## 3.1 Data Consistency Check

### 3.1.1 For df_ords

In [16]:
# Already checked for mixed-type data, missing values and duplicates in exercise 4.5 (df_ords_consistency.csv)

#### 3.1.1.1 Remove 'Unnamed: 0' column

In [18]:
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [19]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,hour_time_of_order,days_since_prior_order
0,2398795,1,2,3,7,15.0
1,473747,1,3,3,12,21.0
2,2254736,1,4,4,7,29.0
3,431534,1,5,4,15,28.0
4,3367565,1,6,2,7,19.0

### 3.1.2 For df_ords_prior

### Check for mixed-data type

In [22]:
for col in df_ords_prior.columns.tolist():
    weird = (df_ords_prior[[col]].map(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_ords_prior[weird]) > 0:
        print(col)

### Check for missing values

In [24]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

### Check for duplicates

In [26]:
#ID duplicate rows by creating df_dups (which contains only rows that are duplicated)

In [27]:
df_dups = df_ords_prior[df_ords_prior.duplicated()]

In [28]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [29]:
df_ords_prior.shape

(32434489, 4)

In [30]:
df_ords.shape

(3214874, 6)

# 4. Merge dataframes

## Task #1. Merge your prepared Instacart orders data with the new orders_products_prior df

### Check for full match in merge

In [34]:
#Check for full match by using Indicator=True argument

In [35]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [36]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,hour_time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

### Show frequency counts of merge

In [38]:
df_merged_large['_merge'].value_counts()

_merge
both          30356421
left_only            0
right_only           0
Name: count, dtype: int64

### Unnecessary columns in merge?

#### Remove '_merge' column

In [41]:
df_merged_large = df_merged_large.drop(columns = ['_merge'])

In [42]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,hour_time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2398795,1,2,3,7,15.0,196,1,1
1,2398795,1,2,3,7,15.0,10258,2,0
2,2398795,1,2,3,7,15.0,12427,3,1
3,2398795,1,2,3,7,15.0,13176,4,0
4,2398795,1,2,3,7,15.0,26088,5,1

# 5. Export Merged File in Pickle Format

## Task #2 .Export the merged file in pickle format as “orders_products_combined.pkl”

In [ ]:
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared', 'orders_products_combined.pkl'))