# Exercise & Task 4.6b Combining & Exporting Data (Steps 3-8)

### This script answers questions 3-8 of task 4.6

# 1. Importing Libraries

In [39]:
#import libraries
import pandas as pd
import numpy as np
import os

# 2. Importing Data

In [41]:
path = r'C:\Users\Barb\07-2024 Instacart Basket Analysis'

In [42]:
df_products_consistency = pd.read_csv(os.path.join(path, '02 Data', 'Prepared', 'products_consistency.csv'), index_col = False)

#### Task #3 - Import the orders_products_combined dataframe from the pickle file you just saved (used df_ords dataframe)

In [44]:
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared', 'orders_products_combined.pkl'))

# 3. Checking Output of Dataframes

#### Task #4 - Check the shape of the imported dataframe (it should be the same as the one you exported-always check!)

In [47]:
df_orders_products_combined.shape

(30356421, 9)

In [48]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,hour_time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2398795,1,2,3,7,15.0,196,1,1
1,2398795,1,2,3,7,15.0,10258,2,0
2,2398795,1,2,3,7,15.0,12427,3,1
3,2398795,1,2,3,7,15.0,13176,4,0
4,2398795,1,2,3,7,15.0,26088,5,1

In [49]:
df_products_consistency.shape

(49672, 6)

In [50]:
df_products_consistency.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

### 3.1 Drop unnamed columns in df_products_consistency

In [52]:
df_products_consistency = df_products_consistency.drop(columns = ['Unnamed: 0'])

In [53]:
df_products_consistency.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

# 4. Merging Dataframes

#### Task #5 - Determine a suitable way to combine the orders_products_combined dataframe with your products data set (df_products_consistency).

### 4.1 Check for full match by using Indicator=True argument

In [57]:
df_ords_prods_merge = df_orders_products_combined.merge(df_products_consistency, on = 'product_id', indicator = True)

#### Task #6 - Confirm the results of the merge using the merge flag

In [59]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,hour_time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,117,19,3.0,both
2,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,23,19,4.4,both
3,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24,4,10.3,both
4,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,both

### Show frequency counts of merge

In [61]:
df_ords_prods_merge['_merge'].value_counts()

_merge
both          30328763
left_only            0
right_only           0
Name: count, dtype: int64

### 4.2 Drop unnecessary column ('_merge') in df_ords_prods_merge

In [64]:
df_ords_prods_merge = df_ords_prods_merge.drop(columns = ['_merge'])

In [65]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,hour_time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,117,19,3.0
2,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,23,19,4.4
3,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24,4,10.3
4,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7

# 5. Exporting Merged file

#### Task #7 - Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

In [68]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared', 'ords_prods_merge.pkl'))